<header class="bg-slate-800">
    <nav class="flex items-center justify-between">
        <img src="img/logo.svg" alt="Astro logo" class="w-20 h-20 ml-4" />
        <ul class="text-white flex">
            <li class="mx-4"><a href="/">Home</a></li>
            <li class="mx-4"><a href="/about">About</a></li>
            <li class="mx-4"><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>
