---
import AstroLogo from "../images/logo.svg";
---

<header class="bg-slate-900">
    <nav class="flex items-center justify-between p-4">
        <a href="/">
            <img src={AstroLogo} alt="Astro logo" class="h-[35px] ml-4" />
        </a>
        <ul class="text-white flex">
            <li class="mx-4"><a href="/">Home</a></li>
            <li class="mx-4"><a href="/about">About</a></li>
            <li class="mx-4"><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>
